{{ 'collection-content-block.css' | asset_url | stylesheet_tag }}

{%- style -%}
.section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .collection-content-flex-dev-{{ section.id }} {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
  }

  .collection-content-content-block {
    width: 50%;
  }
  .collection-content-content-block-image {
    width: 100%;
    max-width: 100%;
  }

  .collection-content-product-grid {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }


  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

{%- endstyle -%}

<div class="section-{{ section.id }}-padding">
    <div class="page-width">
        <div class="collection-content-flex-dev-{{ section.id }}">
            {% comment %} CONTENT BLOCKS {% endcomment %}
        <div class="collection-content-content-block">
            {% if section.settings.image != blank %}
            <img src="{{ section.settings.image | image_url: height: 640 }}" alt="{{ section.settings.image.alt | escape }}"
            loading="lazy" width="{{ section.settings.image.width }}" height="{{ section.settings.image.height }}" class="collection-content-content-block-image">
            {% else %}
            {{ 'product-1' | placeholder_svg_tag }}
                
            {% endif %}

            <h2 class="rich-text__heading rte inline-richtext h1 scroll-trigger animate--slide-in">{{ section.settings.h1 }}
            </h2>
            <span class="rich-text__text rte scroll-trigger animate--slide-in">{{ section.settings.p }}</span>
            {% if section.settings.link != blank %}
            <a class="button button--primary" href="{{ section.settings.link }}">{{ section.settings.btn_text }}</a>
            {% endif %}
        </div>
            
            {% comment %} COLLECTION LOOP {% endcomment %}
            <div class="collection-content-product-grid">
                
                {%- for product in section.settings.collection.products limit: 2 -%}
                    {% render 'card-product',
                    card_product: product,
                    media_aspect_ratio: section.settings.image_ratio,
                    image_shape: section.settings.image_shape,
                    show_secondary_image: section.settings.show_secondary_image,
                    show_vendor: section.settings.show_vendor,
                    show_rating: section.settings.show_rating,
                    skip_styles: skip_card_product_styles,
                    section_id: section.id,
                    quick_add: section.settings.quick_add
                    %} 
                    
                {% endfor %}

            </div>
            
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Content + Collection",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "h1",
      "default": "Heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "p",
      "default": "<p>Add your paragraph here</p>",
      "label": "Add your paragraph here"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "Learn More"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Button Link"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_rating.label",
      "info": "t:sections.featured-collection.settings.show_rating.info"
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
      "info": "t:sections.main-collection-product-grid.settings.quick_add.info",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
        },
        {
          "value": "standard",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
        },
        {
          "value": "bulk",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_3"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Section Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Section Padding Bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Content + Collection"
    }
  ]
}
{% endschema %}
